 

  #parentH {
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0px 5px 8px #868585;
  }

  .floatfix:after {
    content:'';
    display:block;
    clear:both;
  }

  #div1{
    text-align: left;
    float:left;
    width: 70%;
    background-color:white;
    
  }

  #div2{
    text-align: center;
    vertical-align: middle;
    float:left;
    width: 30%;
    background-color:white;
  }

  #parentB {
    background-color: white;
    /*padding: 30px;*/
    width: 100%;
    box-shadow: 0px 5px 8px #868585;
  }

  #parentB :after{
    content:'';
    display:block;
    clear:both;
  }

  #divVidText {
    padding: 0px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 8px;
    margin-bottom: 8px;
  }

  .pad{
    width: 100%;
    padding: 5px 0px 5px 30px;
    box-sizing: border-box;
  }

  .padS{
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
  }

  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  .control {
    flex: 60%;
    background-color: #ffffff;
    /*padding: 20px;*/
  }

  .video {
    flex: 40%;
    /*background-color: #f1f1f1;
    padding: 20px;*/
  }
  
  body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-color: white;
  }

  .camera{
    border-radius: 10%;
    width: 100%;
    height:100%;
    background-attachment: relative;
    box-shadow: 0px 5px 8px;
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  