 

  #parentH {
    background-color: white;
    margin-bottom: 8px;
    width: 100%;
    box-shadow: 0px 5px 8px #868585;
  }

  .floatfix:after {
    content:'';
    display:block;
    clear:both;
  }

  #div1{
    text-align: left;
    float:left;
    width: 70%;
    background-color:white;
    
  }

  #div2{
    text-align: center;
    vertical-align: middle;
    float:left;
    width: 30%;
    background-color:white;
  }
  
  #divVidText {
    padding: 0px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 8px;
    margin-bottom: 8px;
    background-color: #ffffff;
  }

  #divControlText {
    padding: 0px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 8px;
    margin-bottom: 8px;
    background-color: #ffffff;
  }

  #divPanel{
    border-radius: 50px;
    box-shadow: 0px 5px 8px;
    height: 100%;
    background-color: #ffffff;
  }

  #arrows{
    float: left;
    width: 60%;
    height: 100%;
    border-radius: 50px;
  }

  #rightPanel{
    float: left;
    width: 40%;
    height: 100%;
  }

  .pad{
    width: 100%;
    padding: 5px 0px 5px 20px;
    box-sizing: border-box;
  }

  .marginDiv {
    margin: 5px;
  }

  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  .control {
    flex: 55%;
  }

  .video {
    flex: 40%;
  }

  .button{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 10px 30px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8 px;
  }

  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #button1{
    float: left;
  }

  #button2{
    float: right;
  }

  #buttonup{
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;

  }

  #buttondown{
    float: right;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  #buttonleft{
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  #buttonright{
    float: right;
    margin-right: 40px;
    margin-bottom: 20px;
  }

/*  .shield {
    height: 100%;
    width: 100%;
    z-index: 1;
  }*/
  
  body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      background-color: rgb(218, 199, 199);
  }

  .camera{
    border-radius: 50px;
    width: 100%;
    height:100%;
    background-attachment: relative;
    box-shadow: 0px 5px 8px;
  }

  .arrows{
    border-radius: 50px;
    width: 100%;
    height:100%;
  }

  .arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  .unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  